@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Libre+Baskerville&family=Noto+Serif&family=Nova+Square&family=Playfair+Display:ital,wght@0,500;1,400&family=Smooch&family=Work+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Libre Baskerville;
}
nav{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
/* nav ul li a{
    display: flex;
    text-decoration: none;
    color: white;
    margin: 30px;
    font-size: x-large;
    font-weight: 800;
}
nav ul li a:hover{
    text-shadow: 5px 6px 8px white;
} */
nav ul li a {
    margin: 20px;
    padding: 20px;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
nav ul li a::before,nav ul li a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
nav ul li a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid blue;
    border-right: 3px solid blue;
    transform: translate(-100%, 50%);
  }
  
nav ul li a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
    transform: translate(100%, -50%)
  }
  
nav ul li a:hover:before,nav ul li a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
nav ul li a:hover {
    color: blue;
  }

/* image and quote */
#home{
    display: flex;
    flex-direction: column;
    height: 750px;
}
/* #home::before{
    content: "";
    /* background-image: url('https://wallpaperaccess.com/full/4225692.jpg'); */
    /* width: 100%;
    height: 1000px;
    background-size: cover;
} */
.main{
    position: absolute;
    padding-left: 20px;
    top: 450px;
}
.main h4{
    font-size: x-large;
    margin-left: 20px;
}
span{
    font-style: italic;
    font-size: larger;
    margin-left: 500px;
}
h3{
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
    position:relative;
    text-transform:uppercase;
}
h3:hover{
    text-shadow: 5px 6px 8px rgb(77, 75, 75);
}
/* about */
.pic img{
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
    width: 20%;
}
.pic{
    display: flex;
}
.intro{
    text-align: justify;
    padding: 20px;
    margin-top: 50px;
}
p{
    margin: 10px;
    font-size: 18px;
}
/* gallery */
.row{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-top: 30px;
    padding: 10px;
    border: 9px ridge black;
    margin-right: 150px;
    background-color: rgb(179, 177, 177);
}
.col{
    display: flex;
    width: 300px;
    height: 370px;
    position: relative;
    padding: 10px;
}
.row img{
    width: 100%;
}
#img1{
    position: absolute;
    height: 270px;
    width: 280px;
}
#img2{
    position: absolute;
    height: 270px;
    width: 280px;
    left: -5px;
    top: 100px;
}
#img3{
    position: absolute;
    height: 270px;
    width: 280px;
    left: -10px;
}
#img4{
    position: absolute;
    height: 270px;
    width: 280px;
    left: -10px;
    top: 100px;
}
#img5{
    position: absolute;
    height: 270px;
    width: 280px;
    left: -10px;
}
/* awards */
.r1,.r2,.r3{
    display: flex;
    width: 90%;
    height: 300px;
    margin: 30px;
    padding: 20px;
}
.col1{
    width: 60%;
    font-size: x-large;
}
.col2{
    width: 40%;
}
.col2 img{
    width: 60%;
    height: 300px;
}
.r1:hover{
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;
}
.r2:hover{
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;
}
.r3:hover{
    border: 4px solid;
    box-shadow: 10px 10px 5px grey;
}
.footer{
    display: flex;
    margin-top: 50px;
    background-color: antiquewhite;
}
.address{
    width: 50%;
    padding: 50px;
}
.address h4{
    font-size: large;
    margin-bottom: 10px;
}
.address ul li{
    padding: 5px;
}
.map{
    width: 50%;
    padding: 50px;
}
@media screen and (max-width:400px){
    body{
        padding: 0px;
        margin: 0px;
        width: 400px;
    }
    nav{
        width: 390px;
        text-align: center;
        padding: 5px;
    }
    nav ul{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    nav ul li a{
        font-size: medium;
    }
    /* quotes; */
    #home{
        background-image: url('https://wallpaperaccess.com/full/4225692.jpg');
    }
    .main{
        position: absolute;
        top: 150px;
    }
    .main h4{
        font-size: small;
    }
    span{
        font-style: italic;
        font-size: larger;
        margin-left: 200px;
    }
    #home img{
        margin-top: 100px;
    }
}